.row
  .col-sm-12
    - head_elements = ['Title']
    - body_elements = ['title_it']
    = render 'layouts/list', head_elements: head_elements, body_elements: body_elements, collections: @website.pages, edit_resource: true, namespace: 'admin', resource_name: 'Page'