#operas
  - head_elements = ['', 'N°', 'Name', 'Year', 'Circa', 'Size', 'Subject', 'Tecnhiques', 'tag']
  - body_elements = ['image', 'archive_index','name', 'year.year', 'circa_date','size', 'subject.name', 'surface.name', 'tag_list']
  = render 'layouts/list', head_elements: head_elements, body_elements: body_elements, add_resource: true, resource_name: 'Opera', collections: @website.operas, edit_resource: true, namespace: :admin
