.row
  .col-md-4
    = render 'shared/list_websites', websites: current_user.websites, show_user: false
  .col-md-4= render 'admin/pages/list', pages: @website.pages
  .col-md-4= render 'admin/products/list', products: @website.products
  