.nested-fields

  .col-xs-3
    - if f.object.url.present?
      = image_tag f.object.url(:_100x100c)
  .col-sm-6
    = link_to_remove_association 'Remove', f, class: 'btn btn-default btn-xs'
    = f.input :url, as: :file, label: false