%h1 Listing users

%table.table
  %thead
    %tr
      %th Name
      %th Email

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email

%br

= link_to 'New user', new_great_admin_user_path