%h1 Listing users

%table
  %thead
    %tr
      %th Name
      %th Email

  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email

%br

= link_to 'New Website', new_great_admin_website_path(locale: 'en')