/ BLOCK OF PRODUCTS
/ [ - - - ]
%section.block(style="padding:0")
  - @website.products_first_page.each do |product|
    - if product.image.present?
      - bg_img = asset_path(product.image.url(:_650x350d))
    .six-image-1-cell.col-sm-6{style: "background-image:url(#{bg_img});"}
      %a{ href: url_for(product)}
        .block-hover
          %span(style="font-size:32px")
            = product.name
  %div(style="clear: both")