- @page.simple_blocks.each do |block|
  - image_url = block.background_image.url(:big)
  %section.block{style: "background-image: url('#{image_url}')"}
    .container
      %h2= block.title
      %p
        = block.content
      %p.action= block.action
