.container#opera-tag-grid
  .row(style="padding-top: 20px")
    - @operas.order('archive_index').each do |opera|
      .opera-tag-grid-element.col-sm-3(style="")
        - img = image_tag(opera.image.url('_400x400c'), class: 'img-responsive', style: 'min-width: 100%')
        = link_to  img, opera, filter: 
