#products.col-sm-12
  - body_elements = ['image','name', 'price','price_label', 'first_page']
  - head_elements = ['', 'Name', 'Price', 'Label', 'First']
  = render 'layouts/list', head_elements: head_elements, body_elements: body_elements, add_resource: true, resource_name: 'Product', collections: @website.products, edit_resource: true, namespace: :admin