@import "variables-default"
@import "jquery.jcrop"
@import 'trix'
@import "bootstrap-sprockets"
@import "bootstrap"

#simpleList
  .glyphicon-move
    cursor: move
    cursor: -webkit-grabbing

.menu-fixed
  position: fixed
  z-index: 1000
  width: 100%
  background-color: #fff

.checkbox label
  padding-left: 10px

.checkbox input[type="checkbox"]
  position: relative
  margin-left: 0px
