$brand-primary: #f05f40
$link-color: darken($brand-primary, 10%)
$font-size-base: 14px
$font-size-h1: $font-size-base
$font-size-h2: $font-size-base
$font-size-h3: $font-size-base
$font-size-h4: $font-size-base
$text-color: #000

@import "bootstrap-sprockets"
@import "bootstrap"

html, body
  height: 100%

.title
  color: $brand-primary

.menu-fixed
  position: fixed
  z-index: 1000
  width: 100%
  background-color: #fff

.block
  background-position: center
  background-size: cover
  color: $body-bg
  padding-top: 5%
  padding-bottom: 5%
  text-align: center
  position: relative
  h2
    margin-top: 0
    font-size: 5vw
    text-transform: uppercase
  p
    font-size: 2.5vw
    color: lighten($brand-primary, 30%)
    font-family: Georgia
  hr
    max-width: 50px
    border-color: #fff
    border-width: 3px

  .block-content
    position: absolute
    top: 50%
    width: 100%

  .block-content-inner
    transform: translateY(-50%)

.block-photo
  color: $body-bg
  hr
    border-color: $brand-primary
  p
    color: #cccccc

.block-only-text
  color: $body-bg
  background-color: $brand-primary

.block-inverse
  color: $brand-primary
  background-color: #fff
  hr
    border-color: #fff

.six-image-1-cell
  min-height: 300px
  background-position: center
  background-size: cover

.menu-fixed
  position: fixed
  z-index: 1000
  width: 100%
  background-color: #fff