// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"

@import "variables-default"


@import "bootstrap-sprockets"
@import "bootstrap"

html, body
  height: 100%

.block
  background-position: center
  background-size: cover
  color: $body-bg
  padding-top: 5%
  padding-bottom: 5%
  
  h2
    margin-top: 0
    font-size: 10vw
  p
    font-size: 5vw
.block-foto
  color: $body-bg
.block-only-text
  color: $body-bg
  background-color: $text-color