.images-block{class: container_fluid_or_not(block)}
  - if block.sliding
    .col-sm-12
      .row
        #cycler
          - block.images.each do |opera|
            = image_tag opera.url(:_1150x850d), class: 'center-block img-responsive'

    :css
      #cycler{
        position:relative;
      }
      #cycler img{
        position: absolute;
        z-index:1; 
        width: 100%; 
      }
      #cycler img.active{z-index:3}

    :javascript
      time = 3000 // global for debug

      $(document).ready(function(){ setupCycler() })

      function setupCycler(){
        $('#cycler img').first().addClass( "active" );
        if ($('#cycler img').length > 1) {
          setInterval('cycleImages()', time);
        }

         resizeDiv()
      }

      function resizeDiv(){
        var height = $('#cycler img').eq(0).css('height')
        console.log(height);
        $('#cycler').css('height', height)
      }

      $(window).resize(function(e){ resizeDiv() })


  - else
    - classe =""
    - if block.container_fluid == true
      - classe = "row"

    .simple-image{class: classe}
      - block.images.each do |image|
        - if padding_for_elements(block) == "padding: 0px" and columns_for_elements(block) == "col-sm-12"
          - bg_img = asset_path(image.url(:_1150x850d))
        - else
          - bg_img = asset_path(image.url(:block6)) 
        .container-img{style: padding_for_elements(block), class: columns_for_elements(block)}
          = image_tag bg_img, class: 'img-responsive', style: 'min-width: 100%'
