- opera_selected = Opera.where(cover_slider: true, website_id: @website.id)
.container
  .col-sm-offset-1.col-sm-10(style="padding-top: 20px")
    .row
      #cycler
        - opera_selected.each do |opera|
          = image_tag opera.image.url(:_950x450c), class: 'center-block img-responsive'

:css
  #cycler{
    position:relative;
  }
  #cycler img{
    position: absolute;
    z-index:1; 
    width: 100%; 
  }
  #cycler img.active{z-index:3}

:javascript
  time = 3000 // global for debug

  $(document).ready(function(){
    $('#cycler img').first().addClass( "active" );
    setInterval('cycleImages()', time);
  })