
.images-block{class: container_fluid_or_not(block), style: 'padding-left: 0; padding-right: 0'}
  - if block.sliding
    - if block.container_fluid
      :css
        .carousel-inner > .item > img { width: 100% }
    .carousel.slide.carousel-fade{"data-ride" => "carousel"}
      / Wrapper for slides
      .carousel-inner{:role => "listbox"}
        - block.images.each_with_index do |opera, index|
          - css_class = ''
          - css_class = 'active' if index == 0

          .item{class: css_class}
            - if block.quality.present?
              = image_tag opera.url(block.quality.to_sym), class: 'center-block img-responsive'
            - else
              = image_tag opera.url(:_1150x850d), class: 'center-block img-responsive'
   
  - else
    - classe =""
    - if block.container_fluid == true
      - classe = "row"

    .simple-image{class: classe}
      
      - block.images.each do |image|
        - bg_img = asset_path(image.url(:block6)) 
        - if block.quality.present?
          - bg_img = asset_path(image.url(block.quality.to_sym))
        
          
        .container-img{style: padding_for_elements(block), class: columns_for_elements(block)}
          = image_tag bg_img, class: 'img-responsive', style: 'min-width: 100%'
