- image_url = block.background_image.url(:big_standard) if block.background_image.present?

- if block.content.present? or block.title.present?

  / STANDARD BLOCK
  / [ ]
  - style = "background-image: url('#{image_url}');" if image_url.present?
  .block{style: style, class: block.css_class, id: "block-id-#{block.id}"}
    .container.block-content
      .block-content-inner
        - if block.title.present?
          %h2.title= block.title

        - if block.content.present?
          .content= simple_format block.content, {}, sanitize: false
