.col-sm-3.col-xs-6.box-product-correlated
  = link_to image_tag(product.image.url(size_img), class: 'img-responsive'), product
  = link_to product.name, product
  = link_to product.price_label, product
