= render 'layouts/list', head_elements: ['Name','Url', 'Position'], body_elements: ['name', 'url', 'position'], collections: @website.menus, resource_name: 'Menu', add_resource: true, edit_resource: true, namespace: :admin

- content_for :iframe do
  %iframe#iframe-preview{src: url_for(@website.first_page), style: 'width: 100%; height: 100vh; border: none'}