#header
  .masthead-brand
    padding-left: 10px
  .nav-masthead
    padding-righ: 10px
    padding-left: 10px
  
  @media (min-width: 48em)
    .masthead-brand
      float: left
    .nav-masthead
      float: right
