#header
  .masthead-brand
    padding-left: 15px
    padding-right: 15px
  .nav-masthead
    padding-right: 10px
    padding-left: 15px
  
  @media (min-width: 48em)
    .masthead-brand
      float: left
    .nav-masthead
      float: right
      padding-left: 0
